.configured-threshold {
  align-items: center;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  color: $c-white;
  display: flex;
  grid-area: threshold;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;

  &__heading {
    flex-grow: 1;
    text-transform: capitalize;
    width: 100%;
  }

  &__limit-id {
    text-transform: capitalize;
  }

  @media screen and (min-width: $break-point-tablet) {
    flex-basis: 350px;
  }
}
