$c-black: #000;
$c-grey: #b8b8b8;
$c-grey90: #ebecee;
$c-white: #fff;

$c-brand: #3d5a80;
$c-brand30: #98c1d9;
$c-brand90: #edf2f4;
$c-dark-brand: #293241;
$c-secondary: #ee6c4d;
$c-green: #57b900;

$c-modal-overlay: rgba(0, 0, 0, 0.7);
