$color-white: #fff;
$color-black: #000;
$color-grey: #b8b8b8;
$color-grey90: #ebecee;
$color-brand-blue50: #898ea7;
$color-brand-blue90: #e7e8ed;
$color-neutral-grey40: #898e97;
$color-feedback-success: #57b900;
$color-feedback-success80: #ddf1cc;
$color-support-lightblue: #3f9ac5;
$color-modal-overlay: rgba(0, 0, 0, 0.7);
