.log-chart {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  flex-shrink: 1;
  height: 400px;
  max-width: 100%;
  padding: $space-16 $space-4;
  text-align: center;
  width: 100%;

  &__temperature {
    grid-area: temperature;
  }

  &__humidity {
    grid-area: humidity;
  }

  &__pressure {
    grid-area: pressure;
  }

  &__text {
    margin-top: $space-32;
  }

  @media screen and (min-width: 1080px) {
  }
}
