.device {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: $space-24 0;

  &__name,
  &__imei {
    margin: 0;
  }

  &__imei {
    font-size: 14px;
    opacity: 0.45;
  }
}
