.device {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 24px 0;

  &__name,
  &__imei {
    margin: 0;
  }

  &__imei {
    font-size: 14px;
    opacity: 0.45;
  }


  &__copy-address {
    background: transparent;
    border-style: none;
    height: 100%;
    padding: 4px 8px;
  }
}
