.card {
  background: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0px 2px 4px 1px #EDF6F9;
  min-height: 250px;
  padding: 16px;
  width: 100%;

  @media screen and (min-width: 1080px) {
    max-width: 386px;
  }
}
