.back-button {
  align-items: center;
  background: none;
  border: 0;
  color: $c-brand30;
  cursor: pointer;
  display: flex;
  outline: 0;
  padding: $space-24;

  &__chevron {
    transform: rotate(90deg);
  }
}
