.header {
  background: $c-brand90;
  display: block;
  margin: $space-32 auto;
  padding: $space-16 $space-32;

  &__link {
    display: inline-block;
    background: transparent;
    border-style: none;
    color: $c-dark-brand;
    text-decoration: none;
    margin: 0 $space-8;

    &:hover {
      text-decoration: underline;
    }
  }
}
