.dashboard {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 32px;
  justify-content: space-between;

  @media screen and (min-width: 1080px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "info info threshold"
      "temperature temperature devices"
      "pressure pressure pressure"
      "humidity humidity humidity"
    ;
  }
}
