.room-info {
  grid-area: info;
  text-align: left;

  &__room-name,
  &__status-summary {
    font-family: 'Poppins';
    font-weight: 300;
    color: $c-dark-brand;
  }

  &__summary {
    align-items: center;
    display: flex;

    &-icon {
      padding-left: $space-8;
    }
  }

  &__status {
    align-items: center;
    display: flex;
    margin: $space-16 0;

    &-icon {
      padding-right: $space-8;
    }

    &-text {
      margin: 0;
    }
  }

  &__all-logs {
    background: $c-brand;
    border-style: none;
    border: 1px solid $c-brand;
    border-radius: $radius-s;
    color: $c-white;
    cursor: pointer;
    display: block;
    text-decoration: none;
    width: fit-content;
    padding: $space-8 $space-16;

    &:hover {
      border-color: $c-secondary;
      background: $c-secondary;
      color: $c-white;
    }
  }

  @media screen and (min-width: $break-point-tablet) {
  }
}
