.room-info {
  grid-area: info;
  text-align: left;

  &__room-name,
  &__status-summary {
    font-family: 'Poppins';
    font-weight: 300;
    color: $c-dark-brand;
  }

  &__summary {
    align-items: center;
    display: flex;

    &-icon {
      padding-left: $space-8;
    }
  }

  &__status {
    align-items: center;
    display: flex;
    margin: $space-16 0;

    &-icon {
      padding-right: $space-8;
    }

    &-text {
      margin: 0;
    }
  }

  @media screen and (min-width: $break-point-tablet) {
    width: 50%;
  }
}
