.devices {
  grid-area: devices;
  height: fit-content;

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__add-device {
    border-style: none;
    border: 1px solid #0C3565;
    border-radius: 4px;
    background: transparent;
    height: 100%;
    padding: 4px 8px;
  }
}
