@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  width: 100%;
}

svg {
  box-sizing: content-box;
}

.overflow-hidden {
  overflow: hidden;
}

@media (prefers-reduced-motion: no-preference) {
}
